* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.message {
  text-align: center;
}

.tree {
  transform: scaleY(-1);
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: auto;
}

.tree ul {
  background-color: #fff;
  display: flex;
  padding-top: 20px;
  position: relative;
}

.tree li {
  align-items: center;
  flex-direction: column;
  display: flex;
  list-style-type: none;
  padding: 20px 5px 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.tree li::before,
.tree li::after {
  border-top: 1px solid #ccc;
  content: "";
  /*height: calc(100% - 1px);*/
  height: 20px;
  position: absolute;
  top: 0;
  width: 50%;
}

.tree li::before {
  right: calc(50% - 1px);
}

.tree li::after {
  border-left:1px solid #ccc;
  left:50%;
  right:auto;
}

.tree li:only-child::after,
.tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #ccc;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  border-left: 1px solid #ccc;
  content: '';
  height: 20px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 0;
}

.tree .node {
  display: flex;
  position: relative;
}

.tree .mask {
  content: "";
  display: flex;
  flex-grow: 1;
  position: relative;
  align-self: stretch;
  width: 0;
  left: 50%;
  border-left: 1px solid #ccc;
}

.tree ul ul .mask {
  min-height: 1px;
}

.tree a {
  transform: scaleY(-1);
  background-color: #FFFFE0;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  font-family: Lucida Console, Monaco, monospace;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  z-index: 1;
}

.tree .node:hover a,
.tree .node:hover+ul li div a{
  background-color: #c8e4f8;
  border: 1px solid #94a0b4;
  color: #000;
}

.tree .node:hover+ul li::after,
.tree .node:hover+ul li::before,
.tree .node:hover+ul::before,
.tree .node:hover+ul ul::before,
.tree .node:hover+ul .mask {
  border-color: #94a0b4;
}

.tree span {
  transform: translateX(-50%) scaleY(-1);
  visibility: hidden;
  font-family: Lucida Console, Monaco, monospace;
  font-size: 12px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #555;
  border-radius: 5px;
  position: absolute;
  bottom: calc(50% + 20px);
  left: calc(50% + 1px);
  z-index: 2;
}

.tree span:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tree a:hover+span {
  visibility: visible;
}
